[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pyspark = "*"
boto3 = "*"
scikit-learn = "*"
keras = "*"
seaborn = "*"
apache-airflow = "*"
spotipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
